{% extends "master.html" %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h2>Task One</h2>
      <form method="POST">{% csrf_token %}
        <div class="form-group {% if form.lang_code.errors %} has-error {% endif %}">
          {{form.lang_code.label_tag}}
          {{form.lang_code}}
        </div>
        <div class="form-group {% if form.hand_line.errors %} has-error {% endif %}">
          {{form.hand_line.label_tag}}
          {{form.hand_line}}
          {% if form.hand_line.errors %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {% for err in form.hand_line.errors %}
              {{err}} <br/>
            {% endfor  %}
          </div>
          {% endif %}
        </div>
        {% if parse_result %}
        <div class="form-group">
        Output: <pre>{{parse_result.hand_line}}
{{parse_result.get_hand_type}}</pre>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <hr/>
      <h2>Task Two</h2>
      POST UI tools: <a href="https://www.getpostman.com/" target="_blank">POSTMAN</a><br/>
      <pre>Api URL: {{task_two_url}}
Method: "POST"
Example:
$ curl -X POST {{task_two_url}} -d '{"lang_code": "en","cards": ["H1 H13 H12 H11 H10", "H9 C9 S9 H2 C2"]}' 
      </pre>

    </div>
    <div class="col-md-6"><pre>Straight Flush: If the numbers in the same suit is composed of five cards for continuous
Example: C7 C6 C5 C4 C3
H1 H13 H12 H11 H10

Four-of-a-Kind: If the card of the same number are included four
Example: C10 D10 H10 S10 D5
D6 H6 S6 C6 S13

Full House: a three cards of the same number, if it is composed of two separate identical numerals Card
Example: S10 H10 D10 S4 D4
H9 C9 S9 H1 C1

Flash: If it is composed of five cards of the same suit
Example: H1 H12 H10 H5 H3
S13 S12 S11 S9 S6

Straight: If the number is constituted by five cards consecutive
Example: S8 S7 H6 H5 S4
D6 S5 D4 H3 C2

Three-of-a-Kind: If that is configured from the bill three and the number of different two bills of the same number
Example: S12 C12 D12 S5 C3
C5 H5 D5 D12 C10

Two pair: If you are configured two sets of the same number with a single two sets and other card
Example: H13 D13 C2 D2 H11
D11 S11 S10 C10 S9

One pair: If that is configured by two sets and three tag numbers different each of the same number
Example: C10 S10 S6 H4 H2
H9 C9 H1 D12 D10

High card: If the role of the above is not satisfied even one
Example: D1 D10 S9 C5 C4
C13 D12 C11 H8 H7</pre>
    </div>
  </div> <!-- row -->


{% endblock %}
